body {
    margin: 0;
    padding: 0 0 70px 0;
    font-family: Arial, sans-serif;
    text-align: center;
}   

input[type="text"],
input[type="number"],
select,
button {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

.actor-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actor-card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    color:#007bff;
}

.actors-list {
    max-width: 800px;
    padding-top: 150px;
    margin: 0px auto;
    text-align: left;}

.actor-list-item {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.separator {
    color: #ccc;
    margin: 0 5px;
    font-weight: normal;
}

.actor-list-line {
    display: inline-block;
    width: 100%;
}

/* top bar */
.header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d5eaff;
    width: 100%;
    max-width: 900px;
    z-index: 1000;
}

.top-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: #d5eaff;
    border-radius: 0 0 10px 10px;
    z-index: 1000;
}

#search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}


/* Čára pod každým řádkem */
.actor-list-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 53px;
    height: 1px;
    background-color: #8d8d8d;
}
    
    
.actor-list-item a {
    font-weight: bold;
    color: #222;
    text-decoration: none;
}

.actor-list-item a:hover {
    text-decoration: underline;
}

.atributes-in-list {
    color: #919191;
}

/* tlacitko pridani herce */
.add-actor-button {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-actor-button:hover {
    background-color: #0056b3;
}


/* edit tlacitko */
#edit-button:hover {
    color: #0056b3;
}


.actor-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.actor-buttons:hover {
    color: #0056b3;
}

/* actor bigger grid */
#actor-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px auto;
    padding: 0 20px;
}

#actor-info {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
}



/* actor grid */
.actor-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 150px;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}


.actor-grid-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.actor-label {
    font-weight: bold;
    color: #444;
    text-align: left;
}

.actor-value {
    color: #222;
    text-align: left;
} 

/*grid*/
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 16px;
    max-width: 800px;
    margin: 0 auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-section label {
    font-weight: bold;
    margin-bottom: 4px;
    color: #444;
}

.form-section input,
.form-section select {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}


#actor-fullname {
    text-align: justify; 
    margin-left: 100px; 
    font-size: 28px;
    font-weight: bold;
    color: #222;
}

/* filtr */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: 5px;
    border-radius: 8px;
    max-width: 1000px;
    max-height: 700px;
    width: 90%;
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/*footer*/
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    background-color: #d5eaff;
    text-align: center;
    padding: 8px 16px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    z-index: 1000;
    }
      
/* fotka v kartě herce */
.actor-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.actor-photos img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#photo-upload-form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;
}

#photo-input {
    font-size: 14px;
}

/* wrapper kolem jedné fotky */
.photo-wrapper {
    position: relative;
    display: inline-block;
    margin: 5px;
}

/* samotná fotka */
.actor-photo {
    max-width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* tlačítko na mazání */
.delete-photo-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1;
}

#actor-info > * {
    margin-bottom: 10px;
}

.delete-actor-button {
    padding: 10px 16px;
    margin-left: 105px;
    width: 150px;
    font-size: 14px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-actor-button:hover {
    background-color: #cc0000;
}

#print-button{
    width: 130px;
    margin-left: 115px;
    background-color: #ffffff;
    border: none;
    color: #007bff;
    font-size: 16px;
}

#print-button:hover{
    cursor: pointer;
    color: #0056b3;
}

@media print {
    @page {
        size: landscape;
    }
    .print-button,
    .delete-actor-button,
    #edit-button,
    .footer,
    .top-bar,
    .actor-buttons,
    .add-actor-button {
        display: none !important;
    }

    body {
        margin: 0;
        padding: 0;
    }

    #actor-container {
        margin: 0;
        padding: 0;
    }
}



/* Skryje původní input */
#photo-input {
    display: none;
 }
  
/* Vlastní tlačítko */
.custom-file-label {
padding: 10px 16px;
background-color: #ffffff;
color: rgb(0, 0, 0);
border-radius: 6px;
cursor: pointer;
display: inline-block;
font-size: 14px;
margin-left: 100px;
}
  